*{
    padding :2px;
    margin:2px;
    background-color: transparent;
    background-color: rgb(213, 234, 235);
}
.container{
    align-items: center;
    text-align: center;
}
#textarea{
    margin-top: 20px;
    border: 2px solid black;
    background-color:rgb(60, 212, 111);
    font-size: 15px;
}