body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #327175;
    background-size: cover;
    background-position: center;
}

.calculator-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    color: red;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: rgb(30, 48, 210)
}

.inline-input {
    flex: 1;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 15px 30px; /* Increase padding for larger button */
    border-radius: 5px;
    transition: background-color 0.2s;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
